#buildings {
  @include row($display: table);
  table {
    thead tr {
      background-color: $orange;
    }
    th {
      padding: 0;
      color: white;
      @include span-columns(2);
    }
    tr {
      th:first-child, td:first-child {
        @include span-columns(3);
        text-align: right;
      } 
    }
    th, td {
      text-align: center;
    }
  }
}

#buildings th.metric {
  .title, .remove {
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 500;
  }
  %title:after {
    content:"\A";
    border-style: solid;
    display: inline-block;
    margin-left: 5px;
  }
  &.desc .title:after{
    @extend %title:after;
    border-width: .6em .4em 0 .4em;
    border-color: $orange transparent transparent transparent;
  }
  &.asc .title:after{
    @extend %title:after;
    border-width: 0 .4em .6em .4em;
    border-color: transparent transparent $orange transparent;
  }
  .remove {
    padding: .2em .3em;
    margin-right: -.5em;
  }
}

#buildings td.building_info {
  text-align: right;
  span {
    display: none;
    &.building_type, &.name{
      display: block;
    }
    &.name{
      font-weight: 600;
    }
  }
}