.building-report {
  margin: 0;

  h2 {
    line-height: 1em;
  }

  input {
    display: none;
  }

  th:first-child {
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  td:first-child div, h2 {
    margin: 0 1rem 0 0.5rem;
  }

  th + th, td + td {
    max-width: 11em;
  }

  th, label {
    font-weight: 400;
  }

  label {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 0.25em;
    padding: 0.5em 1.75em 0.5em 1em;
    max-width: 10em;
    position: relative;
    line-height: 1;
  }

  .sorted label {
    padding-right: 2.5em;
  }

  label span {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    font-size: 1.5em;
    line-height: 1.2em;
    padding-bottom: 0.133333333em;
  }

  input:checked + label {
    display: block;
  }

  .sorted.asc .asc,
  .sorted.desc .desc {
    display: block;
  }

  .remove {
    padding: 0 0.25em;
  }

  label .asc, label .desc {
    display: none;
    right: 1em;
  }

  td:first-child div {
    line-height: 1;
    display: none;
  }

  td:first-child div:first-child, td:first-child div:first-child + div {
    display: block;
  }

  td:first-child div + div {
    margin-top: .25em;
  }

  .metric-container,
  .averages .subheader,
  .average-container {
    padding: 0 1em;
    max-width: 10em;
  }

  .metric-container {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .metric-container span {
    font-size: 1.25em;
  }
}

.building-report {
  thead {
    background-color: $orange;
    color: #fff;
  }

  tbody {
    color: $orange;
    background-color: #fff;
  }

  th:first-child, td:first-child {
    text-align: right;
  }

  th, label {
    text-transform: uppercase;
  }

  tbody tr {
    cursor: pointer;
  }

  tbody tr:first-child {
    cursor: default;
  }

  label {
    background: #fff;
    border-radius: 1em;
    color: $orange;
    cursor: pointer;
    @extend %disable-user-select;
  }

  .building-info div:first-child {
    font-weight: bold;
    text-transform: uppercase;
  }

  .subheader, .average-info {
    color: $medium-gray;
    text-transform: uppercase;
  }

  .averages .subheader, .averages .average-container {
    text-align: center;
  }

  .averages .subheader span {
    font-size: 0.9em;
  }

  .average-container {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }

  .average-container .average {
    font-size: 1.2em;
    font-weight: bold;
  }

  .average-container .unit {
    font-size: 0.9em;
    text-transform: uppercase;
  }

  .metric-container {
    font-weight: bold;
    text-align: center;
    color: $medium-gray;
  }

  .undefined .value {
    display: none;
  }

  .defined .no-value {
    display: none;
  }

  .building:not(.current) .value {
    color: $medium-gray !important;
  }

  .metric-container .histogram {
    height: em(31px);
  }

  .histogram rect:not(.current) {
    fill-opacity: 0.4;
  }

  .undefined .histogram rect.current {
    fill-opacity: 0.4;
  }
}
