#map-controls {
  label {
    position: relative;
    margin-bottom: 0;
  }

  input {
    display: none;
  }

  h2 {
    font-weight: 300;
    margin-bottom: 0;
    text-indent: 2em;
    padding: 0.75em 0;
  }

  h3 {
    margin: 0;
    font-size: inherit;
  }

  .map-control {
    padding: 1em;
    padding-left: 2em;
  }

  .map-control + .map-control {
    border-top: 1px solid $base-background-color;
  }

  .chart {
    margin-top: 0.75em;
    margin-bottom: 0.25em;
  }

  .control-head {
    margin-bottom: .5em;
    line-height: 1.2em;
    font-size: .9em;
    height: 1.2em;
    position: relative;
  }

  .more-info {
    @extend %disable-user-select;
    font-weight: 100;
    position: absolute;
    right: 0.25em;
    top: 0;
    font-size: 0.9em;
  }

  .description {
    margin-top: 1em;
    font-size: 0.9em;
    display: none;
  }

  .map-control.show-more-info .more,
  .more-info .less {
    display: none;
  }

  .map-control.show-more-info .less,
  .map-control.show-more-info .description {
    display: block;
  }

  .category-control-container {
    display: none;
  }

  input:checked + label + .category-control-container {
    display: block;
  }

  .histogram {
    padding: 0 1em;
    height: em(47px);
  }
}

#map-controls {
  background-color: $base-background-color;

  .category, input:checked + label h2 {
    box-shadow: inset 0 -1px $base-font-color;
  }

  .current.category {
    box-shadow: inset 1em -1px $base-font-color;
  }

  h2, .map-control {
    @extend %disable-user-select;
  }

  h2:after, label:after {
    content: "\A";
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    bottom: -10px;
    right: 1px;
    border: 10px solid transparent;
    border-bottom-width: 0;
  }

  label:after {
    bottom: -9px;
    border-top-color: $base-background-color;
  }

  h2:after {
    border-top-color: $base-font-color;
  }

  h3 {
    font-weight: bold;
  }

  .category {
    cursor: pointer;
  }

  .category-control-container {
    @include linear-gradient(to right, #dedede, #d0d0d0);
    background-color: #d0d0d0;
    color: #fff;
  }

  .current.map-control {
    box-shadow: inset 1em 0 $base-font-color;
    color: $base-font-color;
  }

  .map-control:last-child {
    box-shadow: inset 0 -1px $base-font-color;
  }

  .current.map-control:last-child {
    box-shadow: inset 1em -1px $base-font-color;
  }

  .more-info {
    @extend %disable-user-select;
    text-transform: uppercase;
  }

  .more-info .more,
  .more-info .less {
    padding-right: 0.9em;
  }

  .more-info .more:after,
  .more-info .less:after {
    content: "\A";
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -0.333333em;
    border-style: solid;
  }

  .more-info .more:after {
    border-width: 0.4em 0 0.4em 0.6em;
    border-color: transparent transparent transparent #fff;
  }

  .more-info .less:after {
    border-width: 0.4em 0.6em 0.4em 0;
    border-color: transparent #fff transparent transparent;
  }

  .current.map-control .more-info .more:after {
    border-color: transparent transparent transparent $base-font-color;
  }

  .current.map-control .more-info .less:after {
    border-color: transparent $base-font-color transparent transparent;
  }

  .map-control:not(.current) rect {
    fill: #fff !important;
  }
}
