body {
  background-color: $base-background-color;
  padding: 0;
  margin: 0;
}
header{
  height: $header-height;
}

@import "toolbar";
@import "map-category-controls";
@import "map-range-controls";
@import "map";
@import "buildling-comparison";