body {
  background-color: $base-background-color;
  padding: 0;
  margin: 0;
  @include media($xlarge-screen-up) {
    font-size: 16px;
  }
}

header{
  height: $header-height;
}

#toolbar {
  @include outer-container();
  height: 3em;
  position: relative;
}

#search {
  width: $nav-col-fixed-width;
  float: left;
  @include media($large-screen-up) {
    width: $large-nav-col-fixed-width;
  }

  input[type='search'] {
    width: 50%;
  }
}

#map-category-controls {
  display: block;

  .map-category-control + .map-category-control {
    margin-left: 1em;
  }

  .map-category-control {
    display: none;

    @include media($medium-screen-up) {
      &:nth-child(1), &:nth-child(2){
        display: inline-block;
      }
    }  
    @include media($large-screen-up) {
      display: inline-block;
    }
  }
}

#year-select{
  position: absolute;
  right: 1em;
  top: 0.5em;
}

#map-controls {
  height: 100%;
  overflow: scroll;
  width: $nav-col-fixed-width;
  float: left;
  @include media($large-screen-up) {
    width: $large-nav-col-fixed-width;
  }
}
