body {
  background-color: $base-background-color;
  padding: 0;
  margin: 0;
  font-size: 12px;

  @include media($medium-screen-up) {
    font-size: 14px;
  }

  @include media($xlarge-screen-up) {
    font-size: 16px;
  }
}

header {
  height: $header-height;
}

.iframed header {
  display: none;
}

.iframed .main-container {
  top: 3em;
}

#toolbar {
  height: 3em;
  position: relative;
}

.iframed #toolbar {
  position: fixed;
  width: 100%;
  z-index: 1000001;
}

#search {
  position: absolute;
  top: 0;
  height: 3em;
  left: 0;
  width: $nav-col-fixed-width;

  @include media($large-screen-up) {
    width: $large-nav-col-fixed-width;
  }

  .address-search {
    width: $nav-col-fixed-width - 4em;

    @include media($large-screen-up) {
      width: $large-nav-col-fixed-width - 4em;
    }
  }
}

#map-category-controls {
  position: absolute;
  top: 0;
  height: 3em;
  left: $nav-col-fixed-width;
  right: 0;

  @include media($large-screen-up) {
    left: $large-nav-col-fixed-width;
  }

  .map-category-control + .map-category-control {
    margin-left: 1em;
  }

  .map-category-control {
    display: none;

    @include media($small-screen-up) {
      &:nth-child(1), &:nth-child(2){
        display: inline-block;
      }
    }

    @include media($large-screen-up) {
      display: inline-block;
    }
  }
}

#year-select{
  position: absolute;
  right: 1em;
  top: 0.5em;
}

#map-controls {
  height: 100%;
  overflow-y: scroll;
  overflow: hidden;
  float: left;
  width: $nav-col-fixed-width;

  .chart {
    height: 2.5em;
  }

  .irs {
    height: 21px;
  }

  @include media($large-screen-up) {
    width: $large-nav-col-fixed-width;
  }

  .chart, .filter-wrapper {
    width: $nav-col-fixed-width - 4em;

    @include media($large-screen-up) {
      width: $large-nav-col-fixed-width - 4em;
    }
  }
}

#buildings {
  h2 {
    font-size: 1.1em;

    @include media($medium-screen-up) {
      font-size: 1.5em;
    }
  }

  th:first-child {
    width: $nav-col-fixed-width / 2;

    @include media($medium-screen-up) {
      width: $nav-col-fixed-width;
    }

    @include media($large-screen-up) {
      width: $large-nav-col-fixed-width;
    }
  }
}
