.map-category-control{
  display: block;
  position: relative;
  padding: 0.5em 0;

  .category-list-toggle {
    line-height: 1;
    box-sizing: border-box;
    padding: $base-spacing/3 1.2em;
    display: block;
  }

  input[type="checkbox"]:checked + .category-list-toggle + .categories {
    display: block;
  }

  .categories {
    display: none;
    position: absolute;
    z-index: 99;
    top: 3em;
    left: 0;
    right: 0;
  }

  ul {
    padding: 0.5em 0;
  }

  li { margin: 0.25em 1em; }

  .check {
    float: left;
    margin-top: 0.15em;
    height: 1em;
    width: 1em;
  }

  .content {
    margin-left: 1.4em;
  }
}

.map-category-control{
  .category-list-toggle {
    -webkit-font-smoothing: antialiased;
    background-color: $orange;
    border: $base-border;
    border-radius: $base-border-radius;
    color: #fff;
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: normal;
  }

  input[type="checkbox"]:checked + .category-list-toggle {
    background-color: white;
    color: $orange;
  }

  .categories {
    color: $base-font-color;
    background-color: rgba($medium-gray, 0.9);
  }

  li { 
    line-height: 1.2;
    font-size: .8em;
  }
  input[type=checkbox] { display: none; }
  input[type=checkbox]:checked + label .check {
    background: $orange;
  }

  .check {
    border: 0.2em solid $orange;
  }

  label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
