.main-container {
  position: absolute;
  top: $header-height + 3em;
  bottom: 5em;
  width: 100%;
  @include outer-container(100%);
}
#map-wrapper{
  width: auto;
  height: 100%;
  overflow: hidden;
}
#map {
  height: 100%;
  width: 100%;
}