.map-category-control{
  display: block;
  position: relative;

  button {
    margin: 0.5em 1em;
    padding: $base-spacing/4 .8em;
  }

  .categories {
    position: absolute;
    z-index: 99;
    width: 100%;
    margin-top: 0.2em;
  }

  ul {
    padding: 0.5em 0;
  }

  li { margin: 0.25em 1em; }

  .check {
    float: left;
    margin-top: 0.15em;
    height: 1em;
    width: 1em;
  }

  .content {
    margin-left: 1.4em;
  }
}

.map-category-control{
  .categories {
    color: $base-font-color;
    background-color: rgba($medium-gray, 0.9);
    font-size: .8em;
  }

  li { line-height: 1.2; }
  input[type=checkbox] { display: none; }
  input[type=checkbox]:checked + label .check {
    background: $orange;
  }

  .check {
    border: 0.2em solid $orange;
  }

  label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
