#map-controls{
  height: 100%;
  overflow: scroll;
  @include span-columns(3);

  .category {
    cursor: pointer;
    .map-control {
      display: none;
    }
    &.expand .map-control {
      display: block;
    }
    h2, h3 {
      font-weight: 300;
    }
    h3 {
      font-size: .9em;
    }
    h2, .map-control {
      padding: .65em .5em;
      border-left: solid 1.5em transparent;
      border-bottom: solid 1px $base-font-color;
      &.active, &.current {
        border-left-color: $base-font-color;
      }
    }

  }


}

.map-control {
  @include fill-parent;
  .chart {
    padding: 0 10px;
  }
  .filter-wrapper {
    padding: 0 15px 0 10px;
  }
}
