#toolbar {
  background-color: $orange;
  color: $inverse-font-color;
  @include outer-container();
  height: 3em;
}

#search {
  width: $nav-col-fixed-width;
  float: left;
  .search-control {
    @include span-columns(1.5 of 3);
  }
}
#year-select{
  @include span-columns(2);  
}