.year-control {
  border-bottom: 0.1em solid transparent;
  li {
    position: relative;
    display: inline-block;
  }

  input {
    display: none;
  }
  label {

    &::after {
      height: 0.5em;
      width: 0.5em;
      border-radius: 50%;
      display: block;
      content: " ";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-top: -0.25em;
      margin-left: -0.25em;
    }
  }

  li + li {
    margin-left: 0.75em;
  }
}

.year-control {
  font-weight: 500;
  border-bottom-color: rgba(darken($orange, 15), 0.7);
  text-align: center;

  label {
    @extend %disable-user-select;
  }

  input + label {
    cursor: pointer;
    color: darken($orange, 10);
    opacity: 0.85;

    &::after {
      opacity: 0.6;
      background-color: darken($orange, 15);
    }
  }

  input:checked + label {
    color: white;
    opacity: 1;
    cursor: default;

    &::after {
      opacity: 1;
      background-color: white;
    }
  }
}
