
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
.main-container {
  position: absolute;
  height: 100%;
  width: 100%;
}
#map {
  height: 100%;
}
#map-controls{
  width: 200px;
  height: 100%;
  overflow: scroll;
  float: left;
  padding: 0 20px;

  .show-layer{
    cursor: pointer
  }

}

.leaflet-popup-content .building-info {
  dt {
    font-weight: bold
  }
  dd {
    margin-left: 0;
  }
}

.map-control .irs-with-grid {
  top: -20px
}