
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'sans-serif';
}
.main-container {
  position: absolute;
  height: 100%;
  width: 100%;
}
#map {
  height: 100%;
}
#map-controls{
  width: 200px;
  height: 100%;
  overflow: scroll;
  float: left;
  padding: 0 20px;

  .show-layer{
    cursor: pointer
  }

}

.leaflet-popup-content .building-info {
  dt {
    font-weight: bold;
  }
  dd {
    margin-left: 0;
  }
}

.map-control .irs-with-grid {
  top: -20px
}

#map-category-controls {
  margin-left: 250px;
  .map-control {
    position: relative;
    
    .categories {
      position: absolute;
      z-index: 99;
      background-color: rgba(100,100,100,0.3);
      ul {
        padding-left: 10px;
        list-style: none;
        li {
          line-height: 1.5;
          span {
            margin-right: 5px;
            input{
              vertical-align: middle;
              margin: 2px 2px 2px 5px;
            }
          }
        }
      }
    }
  }
}
#buildings table {
  th {
    background-color: #CCCCCC;
    padding: 5px;
    border: 5px solid white;
    .remove{
      cursor: pointer;
      float: right;
    }
  }
  tr {
    padding: 5px 0;
  }
  td {
    text-align: center;
    padding: 5px
  }
  td.building_info {
    text-align: right;
    span {
      display: none;
      &.building_type, &.name{
        display: block;
      }
    }
  }
}

