#{$all-button-inputs},
button {

  @include appearance(none);
  @extend %common-button-input-inverse;

  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  display: inline-block;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
